<!DOCTYPE html>
<html>
  <head>
    <title>Self Registration</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_prefix }}{{ favicon }}" />
    <style type="text/css">
      {% include 'styles.css' %}
    </style>
  </head>
  <body>
    <header class="flex content-center">
      <a href="{{ url_prefix }}"
        ><img src="{{ url_prefix }}{{ logo }}" alt="logo"
      /></a>
    </header>
    <div class="container flex justify-center">
      <div class="card content-center">
        <div class="card-header">
          <h1>Account Registration</h1>
        </div>
        <div class="card-body">
          <p>
            Submit your email address and a valid coupon code to receive a trial
            account for our AI platform.
          </p>
          {% if error_message %}
          <p class="w-full error">{{ error_message }}</p>
          {% endif %}
          <form method="post" action="{{ url_prefix }}/validate/">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                required
                placeholder="example@domain.com"
                autofocus
              />
            </div>
            <div class="form-group">
              <label for="coupon_code">Coupon Code</label>
              <input
                type="text"
                id="coupon_code"
                name="coupon_code"
                required
                placeholder="ABCDE12345"
              />
            </div>
            <div class="pt-4">
              <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
