:root {
  --heading-color: {{ h1_color | default("#0f1015") }};
  --text-color: {{ text_color | default("#1c1d26") }};
  --link-text-color: {{ text_color | default("#1c1d26") }};
  --primary-color: {{ primary_color | default("#ba18da") }};
  --primary-color-dark: {{ primary_color_dark | default("#9b00ce") }};
  --secondary-color: {{ secondary_color | default("#18817a") }};
  --secondary-color-dark: {{ secondary_color_dark | default("#12635e") }};
  --accent-color: {{ accent_color | default("#eda61d") }};
  --accent-color-dark: {{ accent_color_dark | default("#a16d14") }};
  --navbar-background-color: {{ navbar_color | default("#1c1d26") }};
  --navbar-text-color: {{ navbar_text_color | default("#ffffff") }};
  --navbar-hover-color: {{ navbar_hover_color | default("#20b1a8") }};
  --link-hover-color: {{ accent_color | default("#20b1a8") }};
  --light-text-color: #f1f1f6;
  --danger-color: #e60f66;
  --danger-color-dark: #b81a53;
  --gray-color: #e6e6e6;
  --gray-color-dark: #e1e3e4;
  --white-color: #fff;
  --blue-link-color: #276be9;
}

header {
  height: 41px;
  background-color: var(--navbar-background-color);
  color: var(--navbar-text-color);
  font-size: 36px;
}

header > a > img {
  height: 28px;
  margin: 6px 24px;
}

.container {
  max-width: 100% !important;
  height: 80vh;
  padding: 48px;
}

.card {
  width: 400px;
  margin: auto auto;
  vertical-align: middle;
  border: 1px solid var(--gray-color);
  border-radius: 4px;
}

.card-header {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border: 1px solid var(--accent-color);
  background: var(--accent-color);
}

.card-header > h1 {
  color: var(--text-color);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.card-body {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}

.card-body > p {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card-body > p.error {
  color: var(--danger-color);
}

form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  padding-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

input:not(.btn) {
  width: 100%;
  display: flex;
  padding: 9px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--gray-color-dark);
  background: var(--white-color);
}

input:focus,
.btn.btn-primary:focus {
  outline: 0.2rem solid var(--primary-color);
}

.btn {
  width: 100%;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;
}

.btn-primary:focus {
  outline-offset: 0.2rem;
}

.confirmation > h1 {
  color: #000;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.password-box {
  width: 300px;
  display: flex;
  padding: 9px 16px !important;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid var(--gray-color-dark);
  background: var(--white-color);
}

.password-content {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.copy-btn {
  border-width: 0 !important;
  background-color: none !important;
}
