{% extends "base.html" %} {% block content %}
<div class="confirmation">
  <h1 class="mb-8">Account Confirmation</h1>
  <div class="mb-6">
    Congratulations! Your account has been successfully created! Your account
    will expire automatically on
    <span class="font-bold">{{ expiration_date }}</span>.
  </div>
  <div class="mb-6">
    Your temporary password for
    <span class="font-bold">{{ email }}</span> is:
  </div>
  <div class="password-box flex justify-between">
    <span id="newPassword" class="password-content flex justify-start"
      >{{ temporary_password }}</span
    >
    <button
      id="copyButton"
      class="copy-btn flex justify-end"
      onclick="handleCopy()"
    >
      <i class="fa-regular fa-clipboard"></i>
    </button>
  </div>
  <div id="copyMessage" class="text-sm mb-6" style="visibility: hidden">
    Password copied successfully!
  </div>
  <div class="mb-8">
    Please copy the password and log in, after which you will be asked to set a
    new password. Please note, this temporary password cannot be recovered.
  </div>
  <div class="w-[180px]">
    <a href="/" class="btn btn-primary">Login</a>
  </div>
</div>
{% endblock %}
